*{box-sizing: border-box;}

:root{
    --bg: #0d1117; 
    --cor-primaria: #151c27;
    --cor-secundaria: #15873f;
    --cor-terciaria: #0d5729;
    --font-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 1em;
    --font-color: #eee;
}
body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: var(--font-principal);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--bg);
}
main{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 1.1em;
    font-weight: 600;
}
h2{
    font-size: calc(var(--font-size) * 4);
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 2px;
}
h3{
    font-size: calc(var(--font-size) * 2);
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 10px;
}
figure{
    height: 70vh;
    margin: 1px;
    width: min-content;
}
img{
    height: inherit;
}
.box{
    z-index: 2;
    padding: 10px 20px 20px;
    border-radius: 10px;
    background-color: var(--cor-primaria);
}
.heroi{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ipt-rdo{
    margin-bottom: 10px;
}
.ipt-txt{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    outline: none;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    transition: 0.5s;
}
.ipt-txt:focus{
    border: 3px solid var(--cor-secundaria);
}
.btn{
    width: 100%;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--cor-terciaria);
}